


.bot {
    width: 100%;
    height: 100%;
    background-color: rgb(16, 22, 31);
}

.header {
    display: flex;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
}

.header_image {
    width: 40px;
    height: 40px; 
    margin-top: 6px;
}

.header_button {
    margin-top: 10px;
}

.safe {
    margin-top: 40px;
    margin-left: 5%;
    margin-right: 5%;
}

.safe_title {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: white;
  margin-top: 0;
}


.safe_container {
    display: flex;
    justify-content: space-between;
}
.safe_subtitle {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: white;
  margin-top: 0;
}

.safe_image {
    width: 20px;
    height: 20px;
}

.sell {
    background-color: rgb(33, 36, 41);
    border-radius: 10px;
    padding-bottom: 12px;
}

.sell_title {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: rgb(125, 128, 133);
  padding-top: 10px;
  margin-top: 0;
  font-size: 14px;
  margin-left: 10px;
}

.sell_image {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 3px;
}

.sell_nft {
  display: flex;
  margin-left: 10px;
  
}

.sell_subtitle {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: white;
    margin-top: 0;
    margin-left: 2px;
    font-size: 14px;
}

.sell_strelka {
    color: rgb(125, 128, 133);
    margin-top: 2px;
    font-size: 20px;
    margin-left: 3px;
}

.strelka {
    margin-top: 6px;
    display: flex;
    justify-content: center;
}

.stlrelka_button {
    width: 55px;
    height: 25px;
    border-radius: 30px;
    background-color: rgb(33, 36, 41);
    border: none;
  
}
.strelka_subtitle {
    color: rgb(125, 128, 133);
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
}

.ton {
    display: flex;
}

.ton_image {
    width: 22px;
    height: 22px;
}

.ton_title {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: white;
  margin-top: 0;
  margin-left: 4px;
  font-size: 14px;
  margin-bottom: 10px;
}

.ton_strelka {
    color: rgb(125, 128, 133);
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    margin-left: 3px;
    margin-top: 1px;
    margin-bottom: 10px;
}

.toncoin {
    background-color: rgb(33, 36, 41);
    border-radius: 10px;
    padding-bottom: 4px;
}

.toncoin_src {
    width: 20px;
    height: 20px;
    margin-top: 14px;
}

.toncoin_input {
    display: flex;
    margin-left: 10px;
    
}

.toncoin_number {
    width: 80%;
    height: 30px;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: rgb(33, 36, 41);
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: 16px;
    margin-top: 8px;
    margin-left: 4px;
    
}

.toncoin_enter {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: rgb(125, 128, 133);
    margin-top: 10;
    font-size: 12px;
    margin-left: 37px;
   
}

.text {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgb(125, 128, 133);
    font-size: 14px;
    margin-top: 30px;
    
}
.select {
    border: none;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    color: white;
    background-color: rgb(33, 36, 41);
    height: 30px;
    
}
.select_ton {
    border: none;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    color: white;
    background-color: rgb(16, 22, 31);
    height: 30px;
    margin-top: -3px;
}

.tonkeeper {
    display: flex;
    margin-top: 60px;
}
.tonkeeper_img {
    width: 40px;
    height: 40px;
}
.second {
    color: rgb(80,149,226);
    margin-top: 10px;
}

.tonkeeper_subtitle {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin-top: 4px;
}

.protection{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
    margin-top: 50px;
}

.protection_sub {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgb(125, 128, 133);
}

.img_chrom {
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
    margin-right: 30px;
}

.link {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.img_frag {
    width: 30px;
    height: 30px;
    margin-top: 30px;
    padding-bottom: 45px;
}

.text_1 {
    color: rgb(16, 11, 36);
}
